*{
    padding: 0;
    margin: 0;
}
/*Diseño de el cuerpo de la pagina*/
body{
    font-family: Cursiva, Helvetica, sans-serif;
    background-color: #eee;
}
/*Se realiza el contenedor responsivo*/
.contenedor{
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
/*Se diseña el mapa*/
#mapa{
    width: 100%;
    max-width: 100%;
}
/*Se diseña el encabezado*/
#header {
    background: rgb(0, 0, 0);
    padding: 5px;
    text-align: right;
}

#header ul li {
    list-style: none;
    display: inline;
    padding: 5px;
}

#header ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px;
}

/*Se diseañ como mostrara el mensaje de error*/
.error{
    color: #ac2323;
}

/*Resolucion para dispositivos moviles muy pequeños
@media (max-width: 575px) {
    
}
/*Resolucion para dispositivos moviles pequeños
@media (max-width: 576px) and (max-width: 767px) {
    
}
/*Resolucion para tablets
@media (max-width: 768px) and (max-width: 991px) {
    
}
/*Resolucion para escritorio
@media (max-width: 992px) and (max-width: 767px) {
    
}*/
