/*Diseño del cuerpo de la pagina*/
body
{
    margin: auto;
    padding: 0;
    background: url(../imagenes/bar.jpg);   
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
div.container {
    width: 100%;
    max-width: 100%;
    margin: 0 static;
    }
.img {
    width: 100%;
    height: auto;
}
/*Diseño del cuadro Ligin*/
.loginbox
{
    width: 400px;
    height: 950px;
    background: rgba(0, 0, 0, 0.767);
    color: rgba(255, 255, 255, 0.781);
    top: 65%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 150px 50px;
}

h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0 0 30px;
    text-align: center;
    font-size: 50px;
    height: 0%;
    position:absolute;
    top: 30px;
    left: calc(50% - 100px); 
    color: rgb(255, 255, 255);
}
.mesage{
    margin: 0;
    padding: 0 0 30px;
    text-align:center;
    font-size: 20px;
    height: 0%;
    position: relative;
    top: 75px;
    left: calc(40% - 75px); 
    color: rgb(253, 9, 9);
}
h2{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 20px;
    color: #fb2525;
}

.loginbox p
{
    margin: o;
    padding: 0;
    font-weight: lighter;
}
.loginbox input
{
    width: 100%;
    margin-bottom:  20px;
}
.loginbox input[type="text"],input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: inherit;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.loginbox input[type="submit"]
{
    border:none;
    outline: none;
    height: 40px;
    background: #fb2525 ;
    color: #fff;
    font-size: 16px;
    border-radius: 20px;
}
.loginbox input[type="submit"]:hover
{
    cursor:pointer;
    background: #ffc107;
    color: #000;
}
.loginbox a
{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color:rgb(107, 110, 109);
}

.loginbox a:hover
{
    color: #14B76E;
}

.loginbox bad {
	text-align: center;
	width: 100%;
	padding: 12px;
	background-color: #a22;
	color: rgb(223, 3, 3)
}
